/* Reset de márgenes y relleno global */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Tahoma, sans-serif;
}

/* ----------------------- HEADER Y NAVBAR ----------------------- */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8rem;
    background: linear-gradient(40deg, rgba(51,51,51,0.99) 0%, rgba(51,51,51,0.99) 95%, rgba(11,94,215,0.57) 100%);
    padding: 1rem 0;
    border-bottom: 0.5rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
}


header img {
    width: 25rem;
}

nav {
    margin: 0.4rem 2em 0 0;
    align-items: center;
}

nav ul {
    margin: 0.6rem 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav li {
    list-style-type: none;
    margin: 0 0.1rem;
}

nav li a {
    text-decoration: none;
    line-height: 1.5rem;
    padding: 0.4rem;
    color: #FFF;
    background-color: #333;
    border: 0.1rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    border-radius: 0.4rem;
    transition: background-color 0.3s, color 0.3s;
}

nav li a:hover {
    color: #333;
    background-color: #FFF;
}

.navbar-toggler {
    border: 0.1rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    border-radius: 0.3rem;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Icono de carrito */
.icon_cart {
    width: 5rem;
    height: 3rem;
    margin-top: 0.6rem;
    position: fixed;
    right: 15rem;
    z-index: 1;
    transition: border 0.3s;
}

.icon_cart:hover {
    color: #fff;
    border: 0.2rem solid #0b5ed7; /* Celeste */
}

#contadorCarrito {
    margin-left: 0.5rem;
}

/* ----------------------- SECCIÓN INICIO ----------------------- */
.inicio {
    background-color: rgb(51, 51, 51);
    border-bottom: 0.5rem solid #0b5ed7; /* Celeste */
}

.titulo-inicio {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.titulo-inicio p {
    color: #FFF;
    background-color: #333;
    font-size: 1.2rem;
}

.imagen-inicio {
    width: 100%;
    border-bottom: 0.5rem solid #0b5ed7; /* Celeste */
}

/* ----------------------- SECCIÓN RESEÑAS ----------------------- */
.grid-container-resenas {
    height: 100%;
    background-image: linear-gradient(rgba(253, 249, 249, 0.5), rgba(51, 51, 51, 0.9)), url("./img/tractor-6704118_1280.jpg");
    background-size: cover;
    border-bottom: 0.5rem solid #0b5ed7; /* Celeste */
}

.titulo-seccion {
    display: flex;
    justify-content: center;
    padding: 2rem;
    border-bottom: 0.1rem solid #0b5ed7; /* Celeste */
}

.titulo-seccion p {
    font-size: 2rem;
    color: #fff;
    background-color: green;
    border: 0.05rem solid #0b5ed7; /* Celeste */
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.grid-container-resenas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}

.resena {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(40deg, rgba(51,51,51,0.56) 0%, rgba(255,255,255,0.75) 6%, rgba(255,255,255,0.75) 95%, rgba(11,94,215,0.57) 100%);
    margin: 2rem;
    padding: 2rem;
    border: 0.1rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.resena:hover {
    background: linear-gradient(40deg, rgba(51,51,51,0.56) 0%, rgba(255,255,255,0.75) 30%, rgba(255,255,255,0.75) 70%, rgba(11,94,215,0.57) 100%);
    border: 0.1rem solid #0b5ed7; /* Celeste */
}

.imagen-resena {
    width: 10em;
    border-radius: 50%;
    border: 0.2rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
}

.resena p {
    padding: 1em;
}

.nombre-usuario {
    font-size: 1.2rem;
}

.texto-valoracion {
    text-align: justify;
}

/* ----------------------- LINKS INICIO ----------------------- */
.links-section-inicio {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(51, 51, 51, 0.95), rgba(0, 128, 0, 0.95)), url("./img/tractor-5753374_1280.jpg");
    background-size: cover;
}

.links-section-inicio a {
    font-size: 2rem;
    color: #FFF;
    margin: 0.5rem;
    padding: 2rem;
    border: 0.01rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    border-radius: 0.2rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.links-section-inicio a:hover {
    color: #FFF;
    background: linear-gradient(40deg, rgba(0,128,0,0.56) 0%, rgba(51,51,51,0.50) 6%, rgba(51,51,51,0.50) 95%, rgba(0,128,0,0.57) 100%);
    border: 0.01rem solid #0b5ed7; /* Celeste */
}

/* ----------------------- FOOTER ----------------------- */
.container-footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: linear-gradient(40deg, rgba(51,51,51,0.99) 0%, rgba(51,51,51,0.99) 95%, rgba(0,128,0,0.57) 100%);
    color: #fff;
    border-top: 0.5rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
}


.img-footer {
    width: 15rem;
    margin: 1.1rem 0;
}

.copyright {
    font-size: 0.6rem;
    text-align: center;
}

.logo-copyright-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-footer,
.redes {
    margin-top: 1.5rem;
}

.menu-footer li {
    list-style-type: none;
}

.menu-footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-footer a:hover {
    color: #0b5ed7; /* Celeste */
}

.redes i {
    color: #fff;
    padding: 1rem;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.redes i:hover {
    color: #0b5ed7; /* Celeste */
}

/* ----------------------- FORMULARIO Y MAPA ----------------------- */
.formulario-mapa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(51, 51, 51, 0.9)), url("./img/tractor-6704118_1280.jpg");
    background-size: cover;
}

form {
    padding: 2rem;
}

form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
}

form label {
    font-size: 1.1rem;
    padding: 0.1rem;
    color: #fff;
    background-color: #333;
    border: 0.1em solid #0b5ed7; /* Celeste */
    border-radius: 0.2rem;
}

#nombre, #apellido, #email, #mensaje, .botones > input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 20em;
    border: 0.1em solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    border-radius: 0.5rem;
}
#mensaje {
    height: 10rem;
}

.botones > input {
    font-size: 1.1rem;
    height: 2.5rem;
    color: #fff;
    background-color: rgb(0, 128, 0);
    border: 0.1rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.botones > input:hover {
    background-color: #333;
}

/* Mapa */
iframe {
    width: 500px;
    height: 500px;
    border: 0.1rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    border-radius: 0.5rem;
}
iframe {
    width: 500px;
    height: 500px;
    border: 0.1rem solid #0b5ed7; /* Celeste */
    border-radius: 0.5rem;
}

/* ----------------------- PRODUCTOS ----------------------- */
.container-producto {
    background-image: linear-gradient(rgba(253, 249, 249, 0.5), rgba(51, 51, 51, 0.9)), url("./img/tractor-6704118_1280.jpg");
}

.producto {
    background: linear-gradient(40deg, rgba(51,51,51,0.56) 0%, rgba(255,255,255,0.75) 6%, rgba(255,255,255,0.75) 95%, rgba(11,94,215,0.57) 100%);
    border: 0.1rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    border-radius: 0.5rem;
    transition: background-color 0.3s, border 0.3s;
}

.producto:hover {
    background: linear-gradient(40deg, rgba(51,51,51,0.56) 0%, rgba(255,255,255,0.75) 30%, rgba(255,255,255,0.75) 70%, rgba(11,94,215,0.57) 100%);
    border: 0.1rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
}

.imagen-producto {
    width: auto;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: border 0.3s;
}
.imagen-producto:hover {
    border: 0.12rem solid #0b5ed7; /* Bordes cambiados a #0b5ed7 */
    transition-duration: 50ms;
}

.nombre-producto,
.precio-producto {
    padding: 1rem 0;
}

.valoracion {
    color: rgb(11,94,215);
}

.precio-producto {
    font-size: 1.5rem;
    font-weight: bold;
}

.precio-producto p {
    color: rgb(11,94,215);
}



